<div class="row" *ngFor="let education of educations">
    <div class="col-3">
        <img src="{{education.imagenEdu}}" alt="" width="200">
       </div>
       <div class="btn btn-primary tooltips">
       <a class="btn btn-primary tooltips"
       data-placement="top"
       data-toogle="tooltip"
       data_original_title="Edit"
       ><i class="fa fa-times"> 
            </i></a>
        <a class="btn btn-secondary tooltips"
        data-placement="top"
        data-toogle="tooltip"
        data-original-title="Delete"
        ><i class="fa fa-times"></i></a>
       </div>
    <div class="col-6">
        {{education.tituloEdu}}
    </div>
    <div class="col-9">
        {{education.fechaEdu}}
    </div>
    <div class="col-12">
        {{education.descEdu}}
    </div>
    

</div>>
