<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>5 años</h3>
            </li>
            <p> 
                Bachillerato.
            </p>

        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>1 año</h3>
            </li>
            <p> 
                Curso de Reparación de Pc.
            </p>

        </ul>


        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>4 meses</h3>
            </li>
            <p> 
                Curso Yo-Programo.
            </p>

        </ul>




    </div>



</div>