
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfilPhoto.jpg" 
            class="img-fluid"
            id="fotodeperfil">  
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Tomás Domingo</p>
            <p>Developer Jr</p>
    </div>                                                                            
   
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
                Esto es más complicado de lo que parece... O talvez no...


          
            </p>
            <p>

            Tengo 19 años y vivo en Jujuy (Ar).
        </p>
        </span>


    </div>
</div>