<div class="row"> 
  <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        
            <a href="https://www.linkedin.com/in/tom%C3%A1s-domingo-7bb975242/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/ExtraSonoro9/TrabajoFinalAp"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/tom.d.73/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
            
        
        </div>
</div>
</div>





